// Body
$body-bg: #eff1f3;

// Typography
$font-family: 'Poppins', sans-serif;;
$font-size-base: 0.9rem;
$line-height-base: 1.4;

// Colors
$primary: #e57425;
$primary-dark: #ca5d19;
$primary-light: #e79a54;
$orange: #E57222;
$secondary: #c8c8c8;
$secondary-dark: #2f2e30;
$secondary-dark-medium: #474747;
$secondary-light: #777779;
$third: #0587a6;
$third-dark: #057488;
$third-light: #26b2c9;
$light-gray:#ccc;
$white: #FFFFFF;
$blue: #3490dc;
$indigo: #0077B7;
$purple: #9561e2;
$pink: #f66d9b;
$red: #B70000;
$yellow: #E0981F;
$green: #27B322;
$teal: #4dc0b5;
$cyan: #00AEC8;
$black: #000000;
$text: #2D2C2C;
$inactive-gray:#A7A4A4;
$shadow: #efeded;